<div class="container" id="prospect_matches">
  <h1 class="static_content_title">HOME ALERTS</h1>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="new_prospect_match_box">
        <h2>EDIT <%= @prospect_match.title.upcase %></h2>
        <hr />
        <%= render "form" %>
      </div>
    </div>
  </div><br/><br/>
</div>
