.footer-dark
  .container
    Ice Condos is a Licensed Real Estate Agent operating in Toronto, Ontario through Royal Le Page Connect Realty Brokerage.
    %br
    All Rights Reserverd. Not intended to solicit buyers and sellers currently under contract. MLS®, REALTOR®, and the associated logos are trademarks of the Canadian Real Estate Association.
    %br
    = link_to "Privacy Policy", "/privacy"
    |
    = link_to "Terms of Service", "/terms"
