.container
  .row
    .col-md-12
      %br
      %h1.pull-left Edit Blogpost
      = link_to "Back to Blogposts", :admin_blog, class: "btn btn-primary pull-right"
      .clearfix
      %hr
      = render "blog_form", form_path: admin_update_blog_path
      %br
      %br
