<% if false %>
<div class="subscribe">
  <div class="title">
    Subscribe to our free newsletter
  </div>
  <div class="subscribe-form">
    <form>
      <div class="form-group">
        <input type="text" class="form-control" id="txtName" placeholder="Name">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="txtContact" placeholder="Contact Number">
      </div>
      <div class="form-group">
        <input type="email" class="form-control" id="txtEmail" placeholder="Email Addresss">
      </div>
      <div class="form-group">
        <button type="submit" class="btn">Sign Up!</button>
      </div>
    </form>
  </div>
</div>
<% end %>
