<!DOCTYPE html>
<html>
	<head>
	  <title>Ice Condos</title>
		<style>
			body {
				color: #213A64;
			}
			th {
				font-weight: bold;
				color: white;
				background: #213A64;
				padding:5px 10px;
			}
			tr:nth-child(odd) td {background: #CCC;padding:5px 10px;}
			tr:nth-child(even) td {background: #FFF;padding:5px 10px;}
		</style>
	</head>
	<body>
		<%= yield %>
	</body>
</html>
