<!DOCTYPE html>
<html>
	<head>
	  <title>Nicholas Alli</title>
		<style>
			.property-item {
				width:200px;
				border: 2px solid #ff6f20;
				padding: 20px;
				margin: 20px;
				height: 225px;
				color: #999;
				display: inline-block;
			}
			.property-item a {
				text-align: center;
				font-size:14px;
			}
			.property-item img {
				height: 100px;
				margin-bottom:10px;
			}
			.pull-right {
				float: right;
			}
			.clearfix {
				clear:both;
			}
		</style>
	</head>
	<body>
		<%= yield %>
	</body>
</html>
